<body class = "homebackgroundcolor">
  <canvas class="background"></canvas>
  <%= javascript_include_tag('animetion.js') %>
  <div class="row">
    <div class="col-md-5 align-self-center divcolor center">
      <h1>Log in</h1><br/>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div><br/>
        <div class="field">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div><br/>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %><br/>
        <div class="actions">
          <%= f.submit "Log in",class:"btn btn-primary" %>
        </div>
      <% end %><br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 center">
      <h1 class="maintitle">Muscle tradar</h1>
    </div>
  </div>
</body>
