/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.center{
  margin:  0 auto;
}

.color{
  color: red;
}



input[type="number"] {
  width: 70px;
  height: 30px;
}

img {
  padding-top: 10%;
  width: auto;
}

.formposition{
  padding-top: 70px;
  margin-left: 10%;
}

.submitposition{
  margin-left: 30px;
  margin-bottom: 5px;
}

.raderposition{
  margin-top: 1%;
}

.infoposition{
  padding-top: 5%;
  padding-left: 35%;
  text-align: center;
}

.conentposition{
  padding-top: 1%;
  padding-left: 10%;
}

.usernamecolor{
  color: #FFCC00;
  list-style: none;
}

.title {
  position: relative;
  padding: 10px 2px;
  background: #FFCC00;
  color: #000000;
  font-weight: 900;
}

.title:before {
  content: " ";
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100%);
  width: calc(100%);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: #CCAA00;
}

.coment {
  padding: 8px 16px;
  color: #FFCC00;
  background: #000000;
  border-left: solid 10px #FFCC00;
  width: 40%;
}

.homebackgroundcolor {
  background: #000;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.divcolor{
  background-color: rgba(255, 255, 255,0.8);
  margin-top: 100px;
  padding: 30px 40px 20px 40px;
}

.maintitle{
  margin-top: 2%;
  color: #FFCC00;
  font-size:90px;
  text-align: center;
  font-weight: 900;
}

.subtitle{
  margin-top: 2%;
  color: #FFCC00;
  font-size:25px;
  text-align: center;
  font-weight: 900;
}
